USE [master]
GO
/****** Object:  Database [HIGHLANDS]    Script Date: 23/6/2023 8:40:47 PM ******/
CREATE DATABASE [HIGHLANDS]
GO
USE [HIGHLANDS]
GO
/****** Object:  Table [dbo].[CONGTHUC]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUC](
	[MACT] [nvarchar](10) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[CONGTHUC] [ntext] NOT NULL,
 CONSTRAINT [PK_CONGTHUC] PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[ID] [nvarchar](10) NOT NULL,
	[MASP] [nvarchar](10) NOT NULL,
	[MASIZE] [nvarchar](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_KHUYENMAI]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KHUYENMAI](
	[MASP] [nvarchar](10) NOT NULL,
	[MASIZE] [nvarchar](5) NOT NULL,
	[MAKM] [nvarchar](50) NOT NULL,
	[PHANTRAM] [int] NOT NULL,
 CONSTRAINT [PK_CT_KHUYENMAI_1] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NGUYENLIEU]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NGUYENLIEU](
	[MASP] [nvarchar](10) NOT NULL,
	[MASIZE] [nvarchar](5) NOT NULL,
	[MANL] [nvarchar](10) NOT NULL,
	[SOLUONG] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_CT_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MANH] [nvarchar](10) NOT NULL,
	[MANL] [nvarchar](10) NOT NULL,
	[SOLUONG] [decimal](10, 2) NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC,
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_SANPHAM]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SANPHAM](
	[MASP] [nvarchar](10) NOT NULL,
	[MASIZE] [nvarchar](5) NOT NULL,
	[MACT] [nvarchar](10) NULL,
	[GIAHIENTHOI] [money] NOT NULL,
 CONSTRAINT [PK_CT_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [nvarchar](10) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[PHANLOAI] [bit] NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[MAKM] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [nvarchar](50) NOT NULL,
	[TGBD] [datetime] NULL,
	[TGKT] [datetime] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSU]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSU](
	[THOIGIAN] [datetime] NOT NULL,
	[MASP] [nvarchar](10) NOT NULL,
	[MASIZE] [nvarchar](5) NOT NULL,
	[GIATHAYDOI] [money] NOT NULL,
 CONSTRAINT [PK_LICHSU] PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC,
	[MASP] ASC,
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [nvarchar](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANL] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DONVI] [nvarchar](5) NOT NULL,
	[SLTON] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](30) NULL,
	[GT] [nvarchar](4) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL1] [nvarchar](40) NULL,
	[EMAIL2] [nvarchar](40) NULL,
	[SDT1] [char](10) NULL,
	[SDT2] [char](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MANH] [nvarchar](10) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[HINHANH] [nchar](255) NULL,
	[MALOAI] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [nvarchar](5) NOT NULL,
	[TENSIZE] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 23/6/2023 8:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nvarchar](10) NOT NULL,
	[MATKHAU] [nvarchar](200) NOT NULL,
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONGTHUC] ([MACT], [NGAYLAP], [CONGTHUC]) VALUES (N'CT1', CAST(N'2023-02-22' AS Date), N'Pha 25g cà phê với 5ml đường 50ml nước thêm đá')
INSERT [dbo].[CONGTHUC] ([MACT], [NGAYLAP], [CONGTHUC]) VALUES (N'CT10', CAST(N'2023-03-05' AS Date), N'Pha cà phê với nhiều đá')
INSERT [dbo].[CONGTHUC] ([MACT], [NGAYLAP], [CONGTHUC]) VALUES (N'CT100', CAST(N'2023-06-21' AS Date), N'Thêm đường 100 ml và cafe 100ml')
GO
INSERT [dbo].[CT_HOADON] ([ID], [MASP], [MASIZE], [SOLUONG]) VALUES (N'1', N'SP12', N'K', 3)
INSERT [dbo].[CT_HOADON] ([ID], [MASP], [MASIZE], [SOLUONG]) VALUES (N'1', N'SP4', N'K', 2)
INSERT [dbo].[CT_HOADON] ([ID], [MASP], [MASIZE], [SOLUONG]) VALUES (N'10', N'SP3', N'L', 1)
GO
INSERT [dbo].[CT_KHUYENMAI] ([MASP], [MASIZE], [MAKM], [PHANTRAM]) VALUES (N'SP1', N'S', N'CHAOMUNGHIGHLANDS', 30)
INSERT [dbo].[CT_KHUYENMAI] ([MASP], [MASIZE], [MAKM], [PHANTRAM]) VALUES (N'SP1', N'S', N'MOIS', 50)
INSERT [dbo].[CT_KHUYENMAI] ([MASP], [MASIZE], [MAKM], [PHANTRAM]) VALUES (N'SP11', N'K', N'8THANG3', 15)
GO
INSERT [dbo].[CT_NGUYENLIEU] ([MASP], [MASIZE], [MANL], [SOLUONG]) VALUES (N'SP1', N'L', N'NL1', CAST(0.01 AS Decimal(10, 2)))
INSERT [dbo].[CT_NGUYENLIEU] ([MASP], [MASIZE], [MANL], [SOLUONG]) VALUES (N'SP1', N'L', N'NL2', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[CT_NGUYENLIEU] ([MASP], [MASIZE], [MANL], [SOLUONG]) VALUES (N'SP1', N'L', N'NL4', CAST(1.70 AS Decimal(10, 2)))
GO
INSERT [dbo].[CT_PHIEUNHAP] ([MANH], [MANL], [SOLUONG], [DONGIA]) VALUES (N'NH1', N'NL1', CAST(10.00 AS Decimal(10, 2)), 50000.0000)
INSERT [dbo].[CT_PHIEUNHAP] ([MANH], [MANL], [SOLUONG], [DONGIA]) VALUES (N'NH1', N'NL2', CAST(300.00 AS Decimal(10, 2)), 7500.0000)
INSERT [dbo].[CT_PHIEUNHAP] ([MANH], [MANL], [SOLUONG], [DONGIA]) VALUES (N'NH1', N'NL4', CAST(300.00 AS Decimal(10, 2)), 120.0000)
GO
INSERT [dbo].[CT_SANPHAM] ([MASP], [MASIZE], [MACT], [GIAHIENTHOI]) VALUES (N'SP1', N'L', N'CT1', 45000.0000)
INSERT [dbo].[CT_SANPHAM] ([MASP], [MASIZE], [MACT], [GIAHIENTHOI]) VALUES (N'SP1', N'M', N'CT2', 39000.0000)
INSERT [dbo].[CT_SANPHAM] ([MASP], [MASIZE], [MACT], [GIAHIENTHOI]) VALUES (N'SP1', N'S', N'CT3', 29000.0000)
GO
INSERT [dbo].[HOADON] ([ID], [NGAYLAP], [TONGTIEN], [PHANLOAI], [MANV], [MAKM]) VALUES (N'1', CAST(N'2023-03-07T14:37:05.043' AS DateTime), 157000.0000, 1, N'NV2', NULL)
INSERT [dbo].[HOADON] ([ID], [NGAYLAP], [TONGTIEN], [PHANLOAI], [MANV], [MAKM]) VALUES (N'10', CAST(N'2023-03-07T14:46:04.917' AS DateTime), 45000.0000, 1, N'NV2', NULL)
INSERT [dbo].[HOADON] ([ID], [NGAYLAP], [TONGTIEN], [PHANLOAI], [MANV], [MAKM]) VALUES (N'11', CAST(N'2023-03-07T14:46:12.353' AS DateTime), 107000.0000, 1, N'NV2', NULL)
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [TGBD], [TGKT]) VALUES (N'8THANG3', CAST(N'2023-03-07T00:00:00.000' AS DateTime), CAST(N'2023-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[KHUYENMAI] ([MAKM], [TGBD], [TGKT]) VALUES (N'CHAOMUNGHIGHLANDS', CAST(N'2023-02-01T00:00:00.000' AS DateTime), CAST(N'2023-02-28T00:00:00.000' AS DateTime))
INSERT [dbo].[KHUYENMAI] ([MAKM], [TGBD], [TGKT]) VALUES (N'MOIS', CAST(N'2023-03-20T00:00:00.000' AS DateTime), CAST(N'2023-03-31T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[LICHSU] ([THOIGIAN], [MASP], [MASIZE], [GIATHAYDOI]) VALUES (CAST(N'2023-02-22T19:55:45.967' AS DateTime), N'SP1', N'L', 29000.0000)
INSERT [dbo].[LICHSU] ([THOIGIAN], [MASP], [MASIZE], [GIATHAYDOI]) VALUES (CAST(N'2023-02-22T19:56:06.953' AS DateTime), N'SP1', N'M', 39000.0000)
INSERT [dbo].[LICHSU] ([THOIGIAN], [MASP], [MASIZE], [GIATHAYDOI]) VALUES (CAST(N'2023-02-22T19:56:32.747' AS DateTime), N'SP1', N'S', 45000.0000)
GO
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'BANH', N'Bánh')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'CAFE', N'Cà phê')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (N'FREEZE', N'Freeze')
GO
INSERT [dbo].[NGUYENLIEU] ([MANL], [TEN], [DONVI], [SLTON]) VALUES (N'NL1', N'Truyền thống 1KG', N'Kg', CAST(27.98 AS Decimal(10, 2)))
INSERT [dbo].[NGUYENLIEU] ([MANL], [TEN], [DONVI], [SLTON]) VALUES (N'NL2', N'Phần cà phê 25g', N'Phần', CAST(218.28 AS Decimal(10, 2)))
INSERT [dbo].[NGUYENLIEU] ([MANL], [TEN], [DONVI], [SLTON]) VALUES (N'NL4', N'Phần 5ml đường', N'Phần', CAST(221.50 AS Decimal(10, 2)))
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [GT], [NGAYSINH], [DIACHI], [EMAIL1], [EMAIL2], [SDT1], [SDT2]) VALUES (N'', NULL, NULL, N'Nam', NULL, N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [GT], [NGAYSINH], [DIACHI], [EMAIL1], [EMAIL2], [SDT1], [SDT2]) VALUES (N'NV0', N'Nguyễn Quốc', N'Duy', NULL, CAST(N'2000-01-01' AS Date), N'56 Ngô Quyền HCM', N'n20dccn013@student.ptithcm.edu.vn', N'hoangan1@gmail.com', N'0920145678', N'0624585992')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [GT], [NGAYSINH], [DIACHI], [EMAIL1], [EMAIL2], [SDT1], [SDT2]) VALUES (N'NV1', N'Nguyễn Thị', N'Ánh Tuyết', N'Nữ', CAST(N'2000-01-01' AS Date), N'9 Lê Lợi HCM', N'nguyenanh5@gmail.com', N'nguyenthihanh@gmail.com', N'0809274956', N'0362650899')
GO
INSERT [dbo].[PHIEUNHAPHANG] ([MANH], [NGAYNHAP], [MANV]) VALUES (N'NH1', CAST(N'2023-02-22T00:00:00.000' AS DateTime), N'NV1')
INSERT [dbo].[PHIEUNHAPHANG] ([MANH], [NGAYNHAP], [MANV]) VALUES (N'NH2', CAST(N'2023-06-23T20:13:48.520' AS DateTime), N'NV2')
GO
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'AD', N'Admin')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'NV', N'Nhân viên')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'QL', N'Quản lý')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [HINHANH], [MALOAI]) VALUES (N'SP1', N'Phin đen đá', N'HLC__PHIN_DEN_DA.jpg                                                                                                                                                                                                                                           ', N'CAFE')
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [HINHANH], [MALOAI]) VALUES (N'SP10', N'Cà phê đen lon 185ml', N'HLC_New_logo_Products_NEW_CAN_CFD_INTERNATIONAL_185ml.jpg                                                                                                                                                                                                      ', N'KHAC')
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [HINHANH], [MALOAI]) VALUES (N'SP11', N'Truyền thống 1KG', N'HLC_New_logo_Products_R_G_Traditional_1kg.jpg                                                                                                                                                                                                                  ', N'KHAC')
GO
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE]) VALUES (N'L', N'Lớn')
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE]) VALUES (N'S', N'Nhỏ')
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE]) VALUES (N'K', N'None')
GO
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [MAQUYEN], [TRANGTHAI]) VALUES (N'NV0', N'C4CA4238A0B923820DCC509A6F75849B', N'AD', 1)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [MAQUYEN], [TRANGTHAI]) VALUES (N'NV1', N'C4CA4238A0B923820DCC509A6F75849B', N'QL', 1)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [MAQUYEN], [TRANGTHAI]) VALUES (N'NV100', N'669005B9327670C6FDE80D462DDF65B8', N'NV', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LOAISP_TEN]    Script Date: 23/6/2023 8:40:48 PM ******/
ALTER TABLE [dbo].[LOAISP] ADD  CONSTRAINT [IX_LOAISP_TEN] UNIQUE NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TENNGUYENLIEU]    Script Date: 23/6/2023 8:40:48 PM ******/
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [IX_TENNGUYENLIEU] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TENQUYEN]    Script Date: 23/6/2023 8:40:48 PM ******/
ALTER TABLE [dbo].[QUYEN] ADD  CONSTRAINT [IX_TENQUYEN] UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TENSANPHAM]    Script Date: 23/6/2023 8:40:48 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [IX_TENSANPHAM] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TENSIZE]    Script Date: 23/6/2023 8:40:48 PM ******/
ALTER TABLE [dbo].[SIZE] ADD  CONSTRAINT [IX_TENSIZE] UNIQUE NONCLUSTERED 
(
	[TENSIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONGTHUC] ADD  CONSTRAINT [DF_CONGTHUC_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[CT_HOADON] ADD  CONSTRAINT [DF_CT_HOADON_SOLUONG]  DEFAULT ((1)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] ADD  CONSTRAINT [DF_CT_KHUYENMAI_PHANTRAM]  DEFAULT ((0)) FOR [PHANTRAM]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_PHANLOAI]  DEFAULT ((0)) FOR [PHANLOAI]
GO
ALTER TABLE [dbo].[LICHSU] ADD  CONSTRAINT [DF_LICHSU_THOIGIAN]  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [DF_NGUYENLIEU_SLTON]  DEFAULT ((0)) FOR [SLTON]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GT]  DEFAULT (N'Nam') FOR [GT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_DIACHI]  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] ADD  CONSTRAINT [DF_PHIEUNHAPHANG_NGAYNHAP]  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_MATKHAU]  DEFAULT ('123') FOR [MATKHAU]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_MAQUYEN]  DEFAULT (N'NV') FOR [MAQUYEN]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TRANGTHAI]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_CT_SANPHAM] FOREIGN KEY([MASP], [MASIZE])
REFERENCES [dbo].[CT_SANPHAM] ([MASP], [MASIZE])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_CT_SANPHAM]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON1] FOREIGN KEY([ID])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON1]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_CT_SANPHAM] FOREIGN KEY([MASP], [MASIZE])
REFERENCES [dbo].[CT_SANPHAM] ([MASP], [MASIZE])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_CT_SANPHAM]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [FK_CT_KHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CT_NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CT_NGUYENLIEU_CT_SANPHAM] FOREIGN KEY([MASP], [MASIZE])
REFERENCES [dbo].[CT_SANPHAM] ([MASP], [MASIZE])
GO
ALTER TABLE [dbo].[CT_NGUYENLIEU] CHECK CONSTRAINT [FK_CT_NGUYENLIEU_CT_SANPHAM]
GO
ALTER TABLE [dbo].[CT_NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CT_NGUYENLIEU_NGUYENLIEU1] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CT_NGUYENLIEU] CHECK CONSTRAINT [FK_CT_NGUYENLIEU_NGUYENLIEU1]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_NGUYENLIEU] FOREIGN KEY([MANL])
REFERENCES [dbo].[NGUYENLIEU] ([MANL])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAPHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MANH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[CT_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_SANPHAM_CONGTHUC2] FOREIGN KEY([MACT])
REFERENCES [dbo].[CONGTHUC] ([MACT])
GO
ALTER TABLE [dbo].[CT_SANPHAM] CHECK CONSTRAINT [FK_CT_SANPHAM_CONGTHUC2]
GO
ALTER TABLE [dbo].[CT_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_SANPHAM_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_SANPHAM] CHECK CONSTRAINT [FK_CT_SANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[CT_SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CT_SANPHAM_SIZE] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CT_SANPHAM] CHECK CONSTRAINT [FK_CT_SANPHAM_SIZE]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHUYENMAI1] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHUYENMAI1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN1]
GO
ALTER TABLE [dbo].[LICHSU]  WITH CHECK ADD  CONSTRAINT [FK_LICHSU_CT_SANPHAM] FOREIGN KEY([MASP], [MASIZE])
REFERENCES [dbo].[CT_SANPHAM] ([MASP], [MASIZE])
GO
ALTER TABLE [dbo].[LICHSU] CHECK CONSTRAINT [FK_LICHSU_CT_SANPHAM]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN1]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[CONGTHUC]  WITH CHECK ADD  CONSTRAINT [CK_NGAYLAP_CONGTHUC] CHECK  (([NGAYLAP]<=getdate()))
GO
ALTER TABLE [dbo].[CONGTHUC] CHECK CONSTRAINT [CK_NGAYLAP_CONGTHUC]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [CK_CT_HOADON_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [CK_CT_HOADON_SOLUONG]
GO
ALTER TABLE [dbo].[CT_KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_PHANTRAM_KHUYENMAI] CHECK  (([PHANTRAM]>=(0) AND [PHANTRAM]<=(100)))
GO
ALTER TABLE [dbo].[CT_KHUYENMAI] CHECK CONSTRAINT [CK_PHANTRAM_KHUYENMAI]
GO
ALTER TABLE [dbo].[CT_NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [CK_CT_NGUYENLIEU_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_NGUYENLIEU] CHECK CONSTRAINT [CK_CT_NGUYENLIEU_SOLUONG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUNHAP_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [CK_CT_PHIEUNHAP_DONGIA]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEUNHAP_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [CK_CT_PHIEUNHAP_SOLUONG]
GO
ALTER TABLE [dbo].[CT_SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_CT_SANPHAM_GIA] CHECK  (([GIAHIENTHOI]>(0)))
GO
ALTER TABLE [dbo].[CT_SANPHAM] CHECK CONSTRAINT [CK_CT_SANPHAM_GIA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_PHANLOAI] CHECK  (([PHANLOAI]=(0) OR [PHANLOAI]=(1)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_PHANLOAI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_TONGTIEN] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_TONGTIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_NGAYLAP_HOADON] CHECK  (([NGAYLAP]<=getdate()))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_NGAYLAP_HOADON]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_TGKM_KHUYENMAI] CHECK  (([TGBD]<=[TGKT]))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_TGKM_KHUYENMAI]
GO
ALTER TABLE [dbo].[LICHSU]  WITH CHECK ADD  CONSTRAINT [CK_GIATHAYDOI] CHECK  (([GIATHAYDOI]>(0)))
GO
ALTER TABLE [dbo].[LICHSU] CHECK CONSTRAINT [CK_GIATHAYDOI]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [CK_NGUYENLIEU_SLTON] CHECK  (([SLTON]>=(0)))
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [CK_NGUYENLIEU_SLTON]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_2EMAIL_ NHANVIEN] CHECK  (([EMAIL1]<>[EMAIL2]))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_2EMAIL_ NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_2SDT_NHANVIEN] CHECK  (([SDT1]<>[SDT2]))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_2SDT_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GT_NHANVIEN] CHECK  (([GT]='Nam' OR [GT]=N'Nữ' OR [GT]=N'Khác'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GT_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_SDT1_NHANVIEN] CHECK  (([SDT1] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_SDT1_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_SDT2_NHANVIEN] CHECK  (([SDT2] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_SDT2_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUNHAPHANG_NGAYNHAP] CHECK  (([NGAYNHAP]<=getdate()))
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [CK_PHIEUNHAPHANG_NGAYNHAP]
GO
USE [master]
GO
